{% extends 'base.html' %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Document{% endblock %}</title>
        <!-- 导入阿里的图标样式文件 -->

    </head>

{% endblock %}

{% block content %}
    <body>
    <div class="background-image"
         style="background-image: url('{{ url_for('static', filename='image/BBB.jpg') }}');"></div>
    <div class="content">


        <div class="menu-box">
            <!-- 展示与隐藏侧边栏 开始-->
            <input type="checkbox" id="menu-btn">
            <label for="menu-btn"><i class="iconfont icon-yemianfanhui"></i></label>
            <!-- 展示与隐藏侧边栏 结束-->
            <div class="menu">
                <!-- 侧边栏的标题 开始-->
                <div class="menu-title">
                    <h1>Menu</h1>
                </div>
                <!-- 侧边栏的标题 结束-->

                <!-- 每一项导航 -->
                <div class="menu-item">
                    <input type="checkbox" id="menu-item1">
                    <label for="menu-item1">
                        <i class="menu-item-icon iconfont icon-a-01-shujuzhongxin"></i>
                        <span>西琳的博客</span>
                        <i class="menu-item-last iconfont icon-down"></i>
                    </label>
                    <div class="menu-content">
                        <a class="article" href="http://127.0.0.1:1000/category/1">文档</a>
                        <a class="article" href="http://127.0.0.1:1000/category/2">资料</a>
                        <a class="article" href="http://127.0.0.1:1000/category/3">琐记</a>
                    </div>
                </div>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item2">
                    <label for="menu-item2">
                        <i class="menu-item-icon iconfont icon-a-02-kechengguanli"></i>
                        <span>日志</span>
                        <i class="menu-item-last iconfont icon-down"></i>
                    </label>
                    <div class="menu-content">
                        <a class="article" href="http://127.0.0.1:1000/about">关于西琳</a>
                        <a class="article" href="https://mzh.moegirl.org.cn/%E8%A5%BF%E7%90%B3(%E5%B4%A9%E5%9D%8F3)#">这个是凑数用的</a>
                    </div>
                </div>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3">
                        <i class="menu-item-icon iconfont icon-a-04-zixunfabu"></i>
                        <span>奇思妙想</span>
                        <i class="menu-item-last iconfont icon-down"></i>
                    </label>
                    <div class="menu-content">
                        <a class="article" href="http://127.0.0.1:1000/experiments">试验场</a>
                        <a class="article" href="https://www.bilibili.com/video/BV1kW411m7VP/?vd_source=27ad928103c1cdd38c5504c9476d3207">RickRoll</a>
                    </div>
                </div>

                <div class="set-line"></div>

                <div class="menu-item">
                    <label>
                        <i class="menu-item-icon iconfont icon-a-08-shezhi"></i>
                        <span>setting</span>
                    </label>
                </div>
            </div>
        </div>
        <div id="clock">
            <p id="date" class="date"></p>
            <p id="time" class="time"></p>
            <p class="text"></p>
        </div>

        <script>
            var week = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
            var timerID = setInterval(updateTime, 1000); // 每隔1秒执行一次
            updateTime();

            function updateTime() {
                var cd = new Date();
                document.getElementById("time").innerHTML = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(),
                    2) + ':' + zeroPadding(cd.getSeconds(), 2);
                document.getElementById("date").innerHTML = zeroPadding(cd.getFullYear(), 4) + '-' + zeroPadding(cd.getMonth() +
                    1, 2) + '-' + zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
            };

            function zeroPadding(num, digit) {
                var zero = '';
                for (var i = 0; i < digit; i++) {
                    zero += '0';
                }
                return (zero + num).slice(-digit);
            }
        </script>
        <div class="Tarot">
            <img id="randomImage" src="{{ url_for('static', filename='image/Tarot_index.png') }}" alt="Random Image">
            <button id="fortuneButton" class="fortune-button">今日运势</button>
        </div>

        <script>
            const images = [
                "{{ url_for('static', filename='image/Tarot/01.png') }}",
                "{{ url_for('static', filename='image/Tarot/02.png') }}",
                "{{ url_for('static', filename='image/Tarot/03.png') }}",
                "{{ url_for('static', filename='image/Tarot/04.png') }}",
                "{{ url_for('static', filename='image/Tarot/05.png') }}",
                "{{ url_for('static', filename='image/Tarot/06.png') }}",
                "{{ url_for('static', filename='image/Tarot/07.png') }}",
                "{{ url_for('static', filename='image/Tarot/08.png') }}",
                "{{ url_for('static', filename='image/Tarot/09.png') }}",
                "{{ url_for('static', filename='image/Tarot/10.png') }}",
                "{{ url_for('static', filename='image/Tarot/11.png') }}",
                "{{ url_for('static', filename='image/Tarot/12.png') }}",
                "{{ url_for('static', filename='image/Tarot/13.png') }}",
                "{{ url_for('static', filename='image/Tarot/14.png') }}",
                "{{ url_for('static', filename='image/Tarot/15.png') }}",
                "{{ url_for('static', filename='image/Tarot/16.png') }}",
                "{{ url_for('static', filename='image/Tarot/17.png') }}",
                "{{ url_for('static', filename='image/Tarot/18.png') }}"
            ];

            function setRandomImage() {
                const randomIndex = Math.floor(Math.random() * images.length);
                const selectedImage = images[randomIndex];
                document.getElementById('randomImage').src = selectedImage;
                document.getElementById('randomImage').style.display = 'block'; // 显示图片
                document.getElementById('fortuneButton').style.display = 'none'; // 隐藏按钮
            }

            document.getElementById('fortuneButton').addEventListener('click', setRandomImage);
        </script>
        <div class="button-container">
            <div class="button1">
                <a href="https://space.bilibili.com/301907501?spm_id_from=333.1007.0.0" class="link-button">
                    <button class="bilibili-button">Bilibili</button>
                </a>
            </div>
            <div class="button2">
                <a href="https://www.github.com" class="link-button">
                    <button class="github-button">GitHub</button>
                </a>
            </div>
            <div class="button3">
                <a href="https://www.luogu.com" class="link-button">
                    <button class="luogu-button">GitHub</button>
                </a>
            </div>
        </div>
    </div>


    </body>

{% endblock %}